.App {
  text-align: center;
}

.header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 10px;
  color: white;
}

body {
  background-color: #353960;
}

.simple-button {
  background-color: #353960;
  color: black;
  border: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 70;
  text-align: left;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 150;
  text-align: center;
}

.simple-button {
  background-color: #353960;
  color: black;
  border: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button {
  background-color: #6971bf;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #6971bf;
  border-radius: 16px;
}

input:invalid {
  border: none;
  outline: 2px solid red;
}
