body {
  background-image: url("img/car-racing.jpg");
}

.header {
  display: flex;
  text-align: left;
  background: #b12c49;
  color: white;
  font-size: 10px;
}

button {
  background-color: #6971bf;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.content {
  z-index: 1;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10%;
  color: rgb(255, 255, 255);
}
